* @XPSoftware/devlopers-classisland-legacy @AWDNDWindowsXP

# 关键文件
/.github/ @AWDNDWindowsXP
/tools/ @AWDNDWindowsXP
*.md @AWDNDWindowsXP
*.ps1 @AWDNDWindowsXP

# 构建关键文件
*.csproj @AWDNDWindowsXP
*.props @AWDNDWindowsXP
*.targets @AWDNDWindowsXP

# 关键组件
/ClassIsland/Services/LessonsService.cs @AWDNDWindowsXP
/ClassIsland/Services/ProfileService.cs @AWDNDWindowsXP
/ClassIsland/Services/SettingsService.cs @AWDNDWindowsXP
/ClassIsland/Services/Management/ @AWDNDWindowsXP
/ClassIsland/MainWindow.xaml* @AWDNDWindowsXP
/ClassIsland/App.xaml* @AWDNDWindowsXP
/ClassIsland.Core/ThemeBase.xaml @AWDNDWindowsXP

# 类别：自动化
**/Action  @AWDNDWindowsXP
**/Automation  @AWDNDWindowsXP
/ClassIsland.Core/Abstractions/Services/IActionService.cs  @AWDNDWindowsXP
/ClassIsland.Core/Abstractions/Services/IAutomationService.cs  @AWDNDWindowsXP
/ClassIsland/Services/ActionService.cs  @AWDNDWindowsXP
/ClassIsland/Services/AutomationService.cs  @AWDNDWindowsXP
/ClassIsland/Services/ActionHandlers  @AWDNDWindowsXP
/ClassIsland/Controls/ActionSettingsControls  @AWDNDWindowsXP

# 类别：集控/Protobuf
*.proto @AWDNDWindowsXP
