* @HelloWRC @ClassIsland/developers-classisland @AWDNDWindowsXP @XPSoftware

# 关键文件
/.github/ @HelloWRC @AWDNDWindowsXP
/tools/ @HelloWRC @AWDNDWindowsXP
*.md @HelloWRC @AWDNDWindowsXP
*.ps1 @HelloWRC @AWDNDWindowsXP

# 构建关键文件
*.csproj @HelloWRC @AWDNDWindowsXP
*.props @HelloWRC @AWDNDWindowsXP
*.targets @HelloWRC @AWDNDWindowsXP

# 关键组件
/ClassIsland/Services/LessonsService.cs @HelloWRC @AWDNDWindowsXP
/ClassIsland/Services/ProfileService.cs @HelloWRC @AWDNDWindowsXP
/ClassIsland/Services/SettingsService.cs @HelloWRC @AWDNDWindowsXP
/ClassIsland/Services/Management/ @HelloWRC @AWDNDWindowsXP
/ClassIsland/MainWindow.xaml* @HelloWRC @AWDNDWindowsXP
/ClassIsland/App.xaml* @HelloWRC @AWDNDWindowsXP
/ClassIsland.Core/ThemeBase.xaml @HelloWRC @AWDNDWindowsXP

# 类别：自动化
**/Action @DryIce-cc @HelloWRC @AWDNDWindowsXP
**/Automation @DryIce-cc @HelloWRC @AWDNDWindowsXP
/ClassIsland.Core/Abstractions/Services/IActionService.cs @DryIce-cc @HelloWRC @AWDNDWindowsXP
/ClassIsland.Core/Abstractions/Services/IAutomationService.cs @DryIce-cc @HelloWRC @AWDNDWindowsXP
/ClassIsland/Services/ActionService.cs @DryIce-cc @HelloWRC @AWDNDWindowsXP
/ClassIsland/Services/AutomationService.cs @DryIce-cc @HelloWRC @AWDNDWindowsXP
/ClassIsland/Services/ActionHandlers @DryIce-cc @HelloWRC @AWDNDWindowsXP
/ClassIsland/Controls/ActionSettingsControls @DryIce-cc @HelloWRC @AWDNDWindowsXP

# 类别：集控/Protobuf
*.proto @Doctor-yoi @HelloWRC @AWDNDWindowsXP
